<!DOCTYPE html>
<html>
    <body>
        <div class="container">
            <main-card-component></main-card-component>
        </div>
        <div class="container">
            <player-card-component></player-card-component>
            <player-card-component></player-card-component>
            <player-card-component></player-card-component>
            <player-card-component></player-card-component>
            <player-card-component></player-card-component>
        </div>
    </body>
</html>