body{
    /* background-color: #f77103 !important; */
}  

.Row {
    display: table;
    width: 80%; 
    margin-left: 10%;
    margin-right: 10%;
    table-layout: fixed; 
    border-spacing: 10px; 
}

.Column {
    min-width: 10%;
    max-width: 10%;
    height: 190px;
    padding: 2%;
    margin-right: 5%;
    float: left;
    /* display: table-cell; */
    border: solid black 1px;
}

/* .player-grid {
    display:flex;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
    padding-left: 8.5em;
    padding-right: 15em;
    margin-top: 10vh;
    margin-bottom: 10vh;
    justify-content: center;
    align-items: center;
    border: 3px solid red;
} */

/* .player-item {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    height: 190px;
    border: 1px solid black;
} */

.container {
display:flex;
grid-template-columns: repeat(5, 1fr);
grid-gap: 20px;
margin-left: 40%;
margin-right: 40%;
margin-top: 10vh;
margin-bottom: 10vh;
width: 20%;
/* border: 3px solid blueviolet; */
justify-content: center;
align-items: center;
}

/* .main-item {    
display: grid;
justify-content: center;
align-items: center;
width: 10em;
height: 190px;
border: 1px solid black;
} */