<!DOCTYPE html>
<html>
    <body>
        <div class="main-grid">
            <main-card-component></main-card-component>
        </div>
        <div class="player-grid">
            <player-card-component></player-card-component>
            <player-card-component></player-card-component>
            <player-card-component></player-card-component>
            <player-card-component></player-card-component>
            <player-card-component></player-card-component>
        </div>
    </body>
</html>