.card {
    width: 190px;
    height: 254px;
    background: #171717;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0px 0px 3px 1px #00000088;
            box-shadow: 0px 0px 3px 1px #00000088;
    cursor: pointer;
  }
  
  .card .content {
    border-radius: 5px;
    background: #171717;
    width: 186px;
    height: 250px;
    z-index: 1;
    padding: 20px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .content::before {
    opacity: 0;
    -webkit-transition: opacity 300ms;
    transition: opacity 300ms;
    content: ' ';
    display: block;
    background: white;
    width: 50px;
    height: 50px;
    position: absolute;
    -webkit-filter: blur(50px);
            filter: blur(50px);
  }
  
  .card:hover .content::before {
    opacity: 1;
  }
  
  /* .card::before {
    opacity: 0;
    content: ' ';
    position: absolute;
    display: block;
    width: 120px;
    height: 360px;
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#ff2288), color-stop(#387EF0), to(transparent));
    background: linear-gradient(90deg, transparent, #ff2288, #387EF0, transparent);
    -webkit-transition: opacity 300ms;
    transition: opacity 300ms;
    -webkit-animation: rotation_9018 3000ms infinite linear;
            animation: rotation_9018 3000ms infinite linear;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
  
  .card:hover::before {
    opacity: 1;
    -webkit-animation-play-state: running;
            animation-play-state: running;
  } */
  
  /* .card::after {
    position: absolute;
    content: ' ';
    display: block;
    width: 190px;
    height: 254px;
    background: #17171733;
    -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);
  } */
  
  /* @-webkit-keyframes rotation_9018 {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  } */
  
  /* @keyframes rotation_9018 {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  } */