<!DOCTYPE html>
<html>
    <body>
        <div class="background-one">
            <div class="link-container">
              <a class="link-one" href="/Single Player">Main</a>
            </div>
          </div>
          <div class="background-two link-container">
            <a class="link-two" href="/Multi Player">Multi Player</a>
          </div>
          <div class="background-three link-container">
            <a class="link-three" href="/One Device Play">One Device Play</a>
          </div>
    </body>
</html>